<!doctype html>
<html ng-app="LogChecker">
    <head>
        <title>Hello AngularJS</title>
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="./asset/css/flat-ui.css" rel="stylesheet">

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="./asset/js/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
        <script src="./asset/js/jquery.min.js"></script>
        <script src="./asset/js/flat-ui.min.js"></script>
        <script src="./asset/js/angular.min.js"></script>
        <script src="./asset/js/angular-websocket.js"></script>
        <script src="./asset/js/scrollglue.js"></script>
        <script src="./asset/js/index.js"></script>
        <script data-require="angular-sanitize.js@1.2.0-rc.3" data-semver="1.2.0-rc.3" src="https://code.angularjs.org/1.2.0-rc.3/angular-sanitize.js"></script>

        <link href="./asset/css/index.css" rel="stylesheet">

        <script src="./service/index_service.js"></script>
    </head>

    <body style="height:100%" class ="palette palette-clouds" ng-controller="indexController">
        <h2 style="text-align: center;">酷我日志验收</h2>


        <section  class="palette palette-clouds ">

            <!--<h3 class="demo-panel-title">过滤</h3>-->
            <div class="row demo-row">
                <div class="col-xs-3">
                  <div class=" has-success">
                    <input type="text" value="" placeholder="VIDEO_LOG" class="form-control" ng-model="filterValue"  />
                    <span class="input-icon fui-check-inverted"></span>
                  </div>
                </div>
                <div class="col-xs-3">
                  <a href="#fakelink" class="btn btn-block btn-lg btn-primary" ng-click="doFilter()">only show</a>
                </div>
            </div>
        </section>

        <section class="palette palette-clouds"  scroll-glue>
            <ul ng-repeat="data in MyData.collection | filter: myfilter" >
              <li class="palette palette-asbestos" ng-bind-html="(data.content | htmlTrust)"> {{data.timeStamp}} </li>
            </ul>
        </section>
    </body>
</html>